
body { 
     background: url("Images/camo.jpg") no-repeat;
     background-size: 100%;
     text-align: center;
     background-repeat: repeat;
     
}

/* Custom design with class */
.contain  { 
border-top: 1px solid rgba(0, 0, 0, 0.1);
border-left: 1px solid rgba(0, 0, 0, 0.1);
border-bottom: : 1px solid rgba(0, 0, 0, 0.1);
border-right: : 1px solid rgba(0, 0, 0, 0.1);

width:800px ;
border-radius: 4px;
color:rgb(221,160,221);
background:rgba(75,0,130,0.8);                         
padding: 30px;                             
border-radius: 4px;                        
box-shadow: 0 10px 30px rgba(0,0,0,.1);

margin:40px auto;

}

.box_design {
border-top: 1px solid rgba(0, 0, 0, 0.1);
border-left: 1px solid rgba(0, 0, 0, 0.1);
border-bottom: : 1px solid rgba(0, 0, 0, 0.1);
border-right: : 1px solid rgba(0, 0, 0, 0.1);
	
width:800px ;
border-radius: 4px;
color:rgb(221,160,221);
background:rgba(75,0,130,0.8);                         
padding: 30px;                             
border-radius: 4px;                        
box-shadow: 0 10px 30px rgba(0,0,0,.1);

text-align: center;
margin:40px auto;
}

h2 {
	background-color:rgba(216,191,216,0.4);
	font-size:32px;
	border-radius: 4px;
	box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

h1 {
	background-color:rgba(216,191,216,0.4);
	font-size:32px;
	border-radius: 4px;
	box-shadow: 0 10px 30px rgba(0,0,0,0.1);

}

.img-circle{
	width: 200px;
	height: 200px;

}

.btn_blue { background-color:rgb(255,0,255); color: grey; padding: 15px 20px; border-radius: 4px; font-family: 'Roboto', sans-serif; font-weight: 700; }
}


.font-size {
	font-size: 100px;
}


a{    text-decoration: none;
    font-size:20px;
    color: white;
    font-weight: bold;
    transition: all .2s ease;
    }
 
a:hover{
    color:rgb(52, 51, 50);
}